{% if product.metafields.isd.json_data != blank %}
  {% case product.type %}
  {% when 'Fuel' %}
  {% comment %}
    {% assign fuelsku = "RW-PK-TY-4,RW-PK-TY-6,RW-PK-TY-3,RW-BRIQ-30,RW-OAK-TROL-2,RW-OAK-TROL-3,RW-OAK-TROL" | split: ',' %}
    {% if fuelsku  contains product.selected_or_first_available_variant.sku %}
        {% assign img_url = 'https://cdn.shopify.com/s/files/1/0561/5901/0886/files/express-del-jan3rd-pp.jpg' %}
    {% else %}
      {% assign img_url = 'https://cdn.shopify.com/s/files/1/0561/5901/0886/files/fuel-clearout15-fri-desk.jpg' %}
    {%endif%}
  {% endcomment %}
      {% assign img_url = 'https://cdn.shopify.com/s/files/1/0561/5901/0886/files/fuel-clearout15-fri-desk.jpg' %}
  {% else %}
      {% if product.type contains "Christmas" %}
          {% assign img_url = 'https://cdn.shopify.com/s/files/1/0561/5901/0886/files/xmas-lastchance10-desk.jpg' %}
      {% elsif 
          product.type == 'Benches' or
          product.type == '4 Seater Set' or
          product.type ==  '6 Seater Set' or 
          product.type == '8 Seater Set' or 
          product.type == 'Cube Set' or 
          product.type == 'Bistros' or 
          product.type == 'Sofa Set' or
          product.type == 'Corner Sets' or 
          product.type == 'Cube Sets' or
          product.type == 'Garden Armchairs' or
          product.type == 'Loungers' or
          product.type == 'Swings & Hanging Chairs' or
          product.type == 'Pizza Ovens' or
          product.type == 'BBQ Accessories' or
          product.type == 'Heaters' or
          product.type == 'BBQ' or
          product.type == 'Pergola' or
          product.type == 'Outdoor Side Tables'
       %}
              {% assign img_url = 'https://cdn.shopify.com/s/files/1/0561/5901/0886/files/garden-earlybird10-desk.jpg' %}
      {% else %}
        {% for collection in product.collections %}
            {% if collection.title contains 'Garden Centre' %}
              {% assign noImgs = true %}
              {% break %}
            {% endif %}
        {% endfor %}
        {% if noImgs != true %}
          {% assign img_url = 'https://cdn.shopify.com/s/files/1/0561/5901/0886/files/furniture-banner-desk.jpg'%}
        {% endif %}
      {% endif %}
  {% endcase %}
  
  <div>
  <img style src="{{ img_url }}" alt="">
  </div>
  {% endif %}