.timer-div {
    width: fit-content;
    margin: 0 auto;

        & .counter {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 3rem 0;
            width: fit-content;
            max-width: 400px;

            & .counter-boxes {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                text-align: center;
            }

            & .title {
                color: #9c9c9c;
                font-size: 1.5rem;
                font-weight: 700;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                text-shadow: 0 1px 2px #0003;
            }
        }
    }
    .counter-boxes .count-box {
        background-color: #1a1c1ccc;
        box-shadow: 0 5px 10px #0000004d;
        border-radius: 8px;
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        margin-right: 4px;
        text-shadow: 0 1px 0 #0000004d;

            & h1 {
                color: #fff;
                padding: 8px 0 0;
                margin: 0;
                font-size: 2.5rem;
                line-height: 2rem;
            }

            & span {
                color: #9c9c9c;
                font-size: 0.75rem;
                font-weight: 700;
                letter-spacing: 2px;
                text-transform: uppercase;
                padding-top: 5px;
            }
    }
.hero-ct-banner{
    background-image: var(--banner-img-src);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    height: fit-content;
    padding: 40px 0;

    & .hero-ct-text-con{
        padding: 0;
        & h1{
            font-size: 3rem;
            margin-bottom: 15px;
            padding: 15px 0 0;
        }
    }
}

.hero-ct-banner::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--banner-img-opa);
}